*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    height: 100vh;
    /* background: url("./attractive-backdrop-background-988872.jpg") no-repeat center center/cover; */

}

.img{
    background: url("./attractive-backdrop-background-988872.jpg");
    height: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
}

.container .interface{
    border-radius: 50px;   
}

 .container .interface .inputs{
    display: flex;
    flex-direction: column;
}

.container .interface .inputs ul li input{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    outline: none;
    width: 100%;
    text-decoration: none;
    background: #444;
    color: #fff;
}

.container .interface .inputs ul{
    list-style: none;
    background: #444;
}

.container .interface .inputs ul li{
    display: flex;
}

.container .interface .inputs ul li .delete{
    background: #444;
    color: #aaa;
    padding-right: 0.75rem;
    padding-top: 0.6rem;
    cursor: pointer;
    border-bottom: none;
    border-right: 1px solid #444;
}

.container .interface .inputs ul li .delete:hover{
    color: #ff5511;
}

/* .container .interface .inputs ul li:hover .delete{
    width: 3rem;
    opacity: 1;
    transition: 0.3s;
} */

.container .interface .inputs input:focus{
    color: #bbb;
}

hr{
    width: 50%;
    margin-left: 5rem;
}

hr:last-child{
    display: none;
}

.container .interface .inputs #toBeEntered{
    letter-spacing: 0.15rem;
    padding: .7rem 1rem;
    font-size: 1rem;
    font-family: 'Red Hat Display', sans-serif;
    border: 1px solid #444;
    outline: none;
    color: #444;
    width: 17.9rem;
    height: 2.75rem;
}

.container .interface .inputs #toBeEntered::placeholder{
    font-size: 1.3rem;
    font-family: 'Lacquer', sans-serif;
}

.container .interface .inputs #toBeEntered:focus::placeholder{
    color: #fff;
}

.container .interface .inputs label{
    font-family: 'Lacquer', sans-serif;
    font-size: 1.3rem;
    border-bottom: none;
    padding: 0.2rem 1rem;
    opacity: 0;
    color: #Fff;
    background: none;
    transition: 0.5s;
}

.container .interface .nameBlock{
    background: #444;
    padding: 0.8rem 1rem;
    font-size: 1.1rem;
    color: #fff;
    width: 100%;
    text-align: center;
    font-family: 'Lacquer', sans-serif;
    cursor: default;
    border-top: 1px solid #fff;
}

.container .interface .inputs .forLabel{
    opacity: 1;
    transition: 0.5s;
}